body{
    margin: 0;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1rem;
    background: #e9e9e9;
    
}

h2, h3, h4 {
    margin: 0;
    font-weight: 300;
}
summary{
    width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
summary::-webkit-details-marker {
    display: none; /* Hide default marker in Safari */
}

summary::after {
    align-self: center;
    content: 'open'; /* Custom marker */
    font-weight: 300;
    margin-right: 0.5em;
    margin-left: auto;
}
summary:focus {
    outline: none;
  }

details[open] > summary::after {
    content: 'close'; /* Change marker when open */
}

button{
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}
textarea {
    width: 100%;
    height: fit-content;
    resize: none;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 5px;
}
img, video {
    border-radius: 10px;
}

.elementContainer {
    background-color: #f9f9f9;
    position: relative;
    max-width: 800px;
    box-sizing: border-box;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #1a1a1a30;
}

.colorLine{
    width: fit-content;
    min-width: 30px;
    height: 30px;
    border-radius: 2px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}
.controlsMenu {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  /* grid-auto-rows: 40px; */
  gap: 10px;
    align-items: center;
}
.generationControlsButton {
    align-self: center;
    max-width: 300px;
    /* width: 120px; */
    height: 40px;
    background: #1a1a1a20;
    color: #1a1a1a;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 10px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.generationControlsButton:hover {
    background: #1a1a1a30;
}
.generationControlsButton:disabled {
    opacity: 0.5;
}
.optionsButton {
    position: relative;
    align-self: center;
    max-width: 300px;
    /* width: 120px; */
    height: 40px;
    background: #1a1a1a20;
    color: #1a1a1a;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    box-sizing: border-box;
}
.optionsButton:hover {
    background: #1a1a1a30;
}
.optionsButton:disabled {
    background: #1a1a1a20;
    opacity: 0.5;
    cursor: default;
}

.settingsButton {
    height: 40px;
    border: none;
    border-radius: 10px;
    background: none;
    box-sizing: border-box;
    font-weight: 300;
}

.warning{
    width: 10px; 
    height: 10px;
    border-radius: 5px;
    background: orange;
    margin-right: 10px;
}